{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next", 
    "next/core-web-vitals", 
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier"
   ],
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "rules": {
   
  },
  "globals": {
    "React": "writable"
  }
}
